{% extends 'base.html' %}

{% block contents %}
{% from "formhelpers.html" import render_field %}
<form method="POST">
<div class="form-group row">
    <label class="col-sm-2 col-form-label">
        Имя
    </label>
    <div class="col-sm-8">
        {{ render_field(form.first_name) }}
    </div>
</div>
<div class="form-group row">
<label class="col-sm-2 col-form-label">
    Фамилия
</label>
<div class="col-sm-8">
    {{ render_field(form.last_name) }}
</div>
</div>
<div class="col-sm-2">
    <button type="submit" class="btn">Добавить</button>
</div>
</form>
{% endblock %}яё