<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='custom_styles.css') }}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://harvesthq.github.io/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<link href='{{ url_for('static', filename='bootstrap-datepicker.css') }}' rel='stylesheet' type='text/css'>
<script src='{{ url_for('static', filename='bootstrap-datepicker.js') }}' type='text/javascript'></script>
<script src='{{ url_for('static', filename='bootstrap-datepicker.ru.min.js') }}' type='text/javascript'></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('profile') }}">Справочник сериалов</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if current_user.is_admin() %}
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Админ-панель
        </a>
        <div class="dropdown-menu">
           <a class="dropdown-item" href="{{ url_for('actor_new') }}">Добавить актёра</a>
           <a class="dropdown-item" href="{{ url_for('producer_new') }}">Добавить продюсера</a>
        </div>
       </li>
      {% endif %}
      <li>
        <a class="nav-link" href="{{ url_for('series') }}">Список сериалов</a>
      </li>

    </ul>
    <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
    Профиль пользователя {{ user.login }}
  </div>
</nav>
<br><br>
